body {
    padding: 50px;
    font-family: 14px, 'Pacifico', cursive;
    font: 'Pacifico';
    background: rgba(rgb(18, 214, 228), rgb(22, 180, 22), rgb(23, 23, 212), 0.7);
    width: 99vw;
    height: 99vh;
   
  }
  
  
  

