body {
    padding: 50px;
    font-family: 14px, 'Pacifico', cursive;
    font: 'Pacifico';
    background: linear-gradient(to bottom, #ffff00 25%, #0000ff 100%);
    width: 99vw;
    height: 99vh;
  }
  
  
  

