<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>
  <body>
    <h1>Error404</h1>
    <h2>Hello everyone</h2>
    <pre>Try again later</pre>
  </body>
</html>
