<!DOCTYPE html>
<html>
  <head>
    <h1><%= title %></h1>
    <title>New page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>You can call it any time </h1>
    <p>You want</p>
  </body>
</html>
